<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Practica2</title>
</head>
<body>
<h1 th:text="#{form_title}">NUEVO PRODUCTO</h1>
<br>
<form action="#" th:action="@{/newProduct}" th:object="${producto}" method="post">
	<p> <label th:text="#{form_product_code}+': '"/><input th:type="text" th:field="*{codigo}" /></p>
	<p><label th:text="#{form_product_name}+': '"/> <input type="text" th:field="*{nombre}" /></p>
	<p> <label th:text="#{form_product_description}+': '"/><input type="text" th:field="*{descripcion}" /></p>
	<p> <label th:text="#{form_product_price}+': '"/><input type="text" th:field="*{precio}" /></p>
	<br>
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
</body>
</html>