<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Practica2</title>
</head>
<body>
<form action="#" th:action="@{/newProduct}" th:object="${producto}" method="post">
	<p th:text="#{form_product_code}+': '">Codigo: <input th:type="text" th:field="*{codigo}" /></p>
	<p th:text="#{form_product_name}+': '">Nombre: <input type="text" th:field="*{nombre}" /></p>
	<p th:text="#{form_product_description}+': '">Descripcion: <input type="text" th:field="*{descripcion}" /></p>
	<p th:text="#{form_product_price}+': '">Precio: <input type="text" th:field="*{precio}" /></p>
	<br>
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
</body>
</html>