<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{cabecera_productos}">Product List</title>
</head>
<body>
<h1 th:text="#{titulo_productos}">Product List</h1>
<th>
<tr th:each="Producto : ${listaProductos}">
    <td> <a th:href="@{'/show/' + ${Producto.key}}" th:utext="${Producto.value.getNombre()}" ></a>
        <a href="#" th:href="${'/delete/' + Producto.key}">Eliminar</a>
    </td><br>
</tr>
</th>
<br>
<br>
<a th:href="@{'/'}">Return</a>
</body>
</html>